# Demo: Iterative Approach to ML-based Item-wise Collaborative Filtering Applied to Clustered Data

In [1]:
import pandas as pd
import numpy as np
import sys
sys.path.insert(1, '../resype')
%load_ext autoreload
%autoreload 2

## Prepare data

In [2]:
movies_df = pd.DataFrame({'M1': [2, None, 3, None, 1, 5],
                          'M2': [None, 1, None, 5, 1, None],
                          'M3': [5, 4, 1, 1, 4, None],
                          'M4': [5, 4, None, None, None, 1]},
                         index=[f'U{i+1}' for i in range(6)])
movies_df

     M1   M2   M3   M4
U1  2.0  NaN  5.0  5.0
U2  NaN  1.0  4.0  4.0
U3  3.0  NaN  1.0  NaN
U4  NaN  5.0  1.0  NaN
U5  1.0  1.0  4.0  NaN
U6  5.0  NaN  NaN  1.0

In [3]:
np.random.seed(202109)
rating_vals = np.hstack([np.arange(1,6), [np.nan]])
rating_vals

array([ 1.,  2.,  3.,  4.,  5., nan])

In [4]:
userids = np.arange(1000)
itemids = np.arange(1000)
random_ratings = np.random.choice(rating_vals, size=len(userids)*len(itemids))

In [5]:
transactions = pd.DataFrame(
    {'user_id': userids.repeat(len(itemids)),
     'item_id': itemids.reshape((-1, 1)).repeat(len(userids), axis=1).T.flatten(),
     'rating': random_ratings}).drop_duplicates()

In [6]:
transactions

        user_id  item_id  rating
0             0        0     2.0
1             0        1     NaN
2             0        2     NaN
3             0        3     5.0
4             0        4     4.0
...         ...      ...     ...
999995      999      995     1.0
999996      999      996     3.0
999997      999      997     NaN
999998      999      998     2.0
999999      999      999     1.0

[1000000 rows x 3 columns]

## Load resype

In [7]:
from resype import Resype

In [8]:
re = Resype(transactions)

In [9]:
utility_matrix = re.construct_utility_matrix()
utility_matrix

item_id,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
user_id,,,,,,,,,,,,,,,,,,,,,
0,2.0,NaN,NaN,5.0,4.0,4.0,3.0,4.0,4.0,3.0,...,5.0,1.0,4.0,2.0,3.0,NaN,2.0,NaN,5.0,2.0
1,1.0,NaN,4.0,5.0,3.0,2.0,1.0,3.0,1.0,NaN,...,3.0,3.0,2.0,4.0,4.0,3.0,4.0,4.0,3.0,4.0
2,3.0,4.0,4.0,4.0,2.0,4.0,2.0,4.0,1.0,4.0,...,5.0,4.0,3.0,1.0,NaN,5.0,2.0,2.0,NaN,5.0
3,5.0,2.0,1.0,NaN,2.0,4.0,3.0,3.0,NaN,1.0,...,2.0,NaN,2.0,3.0,5.0,2.0,NaN,5.0,NaN,1.0
4,2.0,1.0,3.0,1.0,2.0,2.0,3.0,1.0,3.0,5.0,...,NaN,3.0,1.0,4.0,4.0,1.0,2.0,1.0,2.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,5.0,NaN,NaN,2.0,1.0,5.0,1.0,2.0,2.0,3.0,...,NaN,1.0,5.0,1.0,5.0,2.0,2.0,NaN,3.0,5.0
996,1.0,5.0,5.0,2.0,5.0,4.0,1.0,NaN,1.0,5.0,...,NaN,NaN,1.0,NaN,NaN,NaN,4.0,5.0,1.0,2.0
997,2.0,5.0,NaN,4.0,5.0,4.0,NaN,3.0,NaN,3.0,...,1.0,4.0,1.0,5.0,4.0,3.0,NaN,5.0,2.0,2.0
998,3.0,2.0,2.0,1.0,1.0,4.0,2.0,1.0,5.0,1.0,...,3.0,4.0,4.0,5.0,5.0,NaN,4.0,5.0,4.0,4.0
999,1.0,4.0,NaN,NaN,4.0,3.0,1.0,5.0,4.0,5.0,...,2.0,NaN,3.0,4.0,5.0,1.0,3.0,NaN,2.0,1.0

## Cluster data

In [10]:
from sklearn.cluster import (KMeans, SpectralClustering,
                             AgglomerativeClustering, DBSCAN, OPTICS,
                             cluster_optics_dbscan, Birch)

model1 = KMeans(n_clusters = 15)
model2 = KMeans(n_clusters = 20)

In [11]:
x_u,y_u, df_u  = re.cluster_users(model1)
x_i,y_i, df_i  = re.cluster_items(model2)

## Generate new utility matrix based on clusters

In [12]:
# Running this overwrites the original utility matrix
Uc_df = re.utility_matrix_agg()
Uc_df

i_cluster,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
u_cluster,,,,,,,,,,,,,,,,,,,,
0,2.473856,2.553536,2.500000,2.416667,2.498735,2.485294,2.525882,2.536415,2.445720,2.499222,2.473389,2.510558,2.412745,2.505957,2.518627,2.509635,2.555556,2.516256,2.472080,2.448495
1,2.450192,2.490895,2.470994,2.503831,2.591769,2.470443,2.573793,2.571429,2.668629,2.571976,2.512315,2.575597,2.649425,2.466608,2.455172,2.570749,2.433757,2.488064,2.522489,2.541039
2,2.515723,2.539114,2.550943,2.491090,2.562995,2.358491,2.432453,2.584906,2.462954,2.586703,2.436658,2.474601,2.515723,2.459040,2.507547,2.510085,2.432307,2.532817,2.550041,2.525113
3,2.515748,2.528355,2.514497,2.508749,2.476251,2.491001,2.500157,2.510686,2.514116,2.516935,2.551556,2.512720,2.509974,2.506229,2.565748,2.485474,2.512225,2.490410,2.515919,2.492071
4,2.471688,2.480121,2.502941,2.515759,2.479218,2.572802,2.554038,2.502747,2.521341,2.553266,2.514194,2.480030,2.485897,2.517892,2.487500,2.502321,2.507422,2.466469,2.503135,2.502167
5,2.500000,2.522536,2.550642,2.505428,2.484613,2.615764,2.492874,2.502874,2.494253,2.419814,2.501368,2.489832,2.523372,2.483050,2.499425,2.544788,2.508167,2.461735,2.508246,2.523231
6,2.439964,2.486771,2.445161,2.482527,2.462539,2.483871,2.563548,2.533410,2.490952,2.438556,2.496928,2.515509,2.538710,2.473050,2.492339,2.527253,2.461800,2.529225,2.421459,2.554975
7,2.464006,2.446590,2.460149,2.552034,2.530214,2.638833,2.558873,2.477867,2.498798,2.478426,2.580818,2.485374,2.523944,2.543412,2.452113,2.505100,2.497158,2.500662,2.537355,2.472724
8,2.603175,2.507624,2.400000,2.476190,2.520737,2.497449,2.562857,2.424745,2.468641,2.495465,2.442177,2.508242,2.382143,2.405515,2.470536,2.529557,2.581454,2.525641,2.541149,2.454225
9,2.691358,2.509613,2.429542,2.439506,2.612903,2.460317,2.606222,2.595238,2.533875,2.465608,2.435979,2.492308,2.504444,2.492546,2.520000,2.460920,2.506823,2.488319,2.539614,2.499844
10,2.504219,2.490257,2.493075,2.523910,2.515721,2.598553,2.476709,2.506781,2.473603,2.473177,2.503315,2.596397,2.508017,2.524916,2.485443,2.458097,2.516322,2.529157,2.522840,2.522018
11,2.480769,2.519015,2.568778,2.566239,2.452854,2.543956,2.511538,2.538462,2.453096,2.515263,2.543956,2.528107,2.501282,2.589094,2.449038,2.465517,2.464238,2.512821,2.520067,2.646804
12,2.482828,2.403882,2.492193,2.555051,2.649267,2.524675,2.493455,2.516883,2.555654,2.525830,2.509091,2.537762,2.444242,2.554891,2.467273,2.559561,2.514833,2.422844,2.515810,2.490653
13,2.449346,2.458857,2.524221,2.486520,2.546964,2.442227,2.446176,2.513655,2.491750,2.509337,2.474090,2.589932,2.531863,2.500931,2.510662,2.480984,2.464912,2.532303,2.468670,2.476388
14,2.573785,2.504389,2.429412,2.554688,2.511593,2.373884,2.536250,2.500000,2.469512,2.544395,2.528274,2.516827,2.512500,2.532437,2.457031,2.514817,2.488213,2.515491,2.444633,2.421875

## Train iterative model using `train_model_iterative_cluster`

#### Create model object (load from sklearn)

In [13]:
from sklearn.ensemble import RandomForestRegressor
rs_model1 = RandomForestRegressor(random_state=202109)

#### Train model

In [14]:
re.utility_matrix

i_cluster,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
u_cluster,,,,,,,,,,,,,,,,,,,,
0,2.473856,2.553536,2.500000,2.416667,2.498735,2.485294,2.525882,2.536415,2.445720,2.499222,2.473389,2.510558,2.412745,2.505957,2.518627,2.509635,2.555556,2.516256,2.472080,2.448495
1,2.450192,2.490895,2.470994,2.503831,2.591769,2.470443,2.573793,2.571429,2.668629,2.571976,2.512315,2.575597,2.649425,2.466608,2.455172,2.570749,2.433757,2.488064,2.522489,2.541039
2,2.515723,2.539114,2.550943,2.491090,2.562995,2.358491,2.432453,2.584906,2.462954,2.586703,2.436658,2.474601,2.515723,2.459040,2.507547,2.510085,2.432307,2.532817,2.550041,2.525113
3,2.515748,2.528355,2.514497,2.508749,2.476251,2.491001,2.500157,2.510686,2.514116,2.516935,2.551556,2.512720,2.509974,2.506229,2.565748,2.485474,2.512225,2.490410,2.515919,2.492071
4,2.471688,2.480121,2.502941,2.515759,2.479218,2.572802,2.554038,2.502747,2.521341,2.553266,2.514194,2.480030,2.485897,2.517892,2.487500,2.502321,2.507422,2.466469,2.503135,2.502167
5,2.500000,2.522536,2.550642,2.505428,2.484613,2.615764,2.492874,2.502874,2.494253,2.419814,2.501368,2.489832,2.523372,2.483050,2.499425,2.544788,2.508167,2.461735,2.508246,2.523231
6,2.439964,2.486771,2.445161,2.482527,2.462539,2.483871,2.563548,2.533410,2.490952,2.438556,2.496928,2.515509,2.538710,2.473050,2.492339,2.527253,2.461800,2.529225,2.421459,2.554975
7,2.464006,2.446590,2.460149,2.552034,2.530214,2.638833,2.558873,2.477867,2.498798,2.478426,2.580818,2.485374,2.523944,2.543412,2.452113,2.505100,2.497158,2.500662,2.537355,2.472724
8,2.603175,2.507624,2.400000,2.476190,2.520737,2.497449,2.562857,2.424745,2.468641,2.495465,2.442177,2.508242,2.382143,2.405515,2.470536,2.529557,2.581454,2.525641,2.541149,2.454225
9,2.691358,2.509613,2.429542,2.439506,2.612903,2.460317,2.606222,2.595238,2.533875,2.465608,2.435979,2.492308,2.504444,2.492546,2.520000,2.460920,2.506823,2.488319,2.539614,2.499844
10,2.504219,2.490257,2.493075,2.523910,2.515721,2.598553,2.476709,2.506781,2.473603,2.473177,2.503315,2.596397,2.508017,2.524916,2.485443,2.458097,2.516322,2.529157,2.522840,2.522018
11,2.480769,2.519015,2.568778,2.566239,2.452854,2.543956,2.511538,2.538462,2.453096,2.515263,2.543956,2.528107,2.501282,2.589094,2.449038,2.465517,2.464238,2.512821,2.520067,2.646804
12,2.482828,2.403882,2.492193,2.555051,2.649267,2.524675,2.493455,2.516883,2.555654,2.525830,2.509091,2.537762,2.444242,2.554891,2.467273,2.559561,2.514833,2.422844,2.515810,2.490653
13,2.449346,2.458857,2.524221,2.486520,2.546964,2.442227,2.446176,2.513655,2.491750,2.509337,2.474090,2.589932,2.531863,2.500931,2.510662,2.480984,2.464912,2.532303,2.468670,2.476388
14,2.573785,2.504389,2.429412,2.554688,2.511593,2.373884,2.536250,2.500000,2.469512,2.544395,2.528274,2.516827,2.512500,2.532437,2.457031,2.514817,2.488213,2.515491,2.444633,2.421875

In [15]:
%%time
utility_matrix_imputed = re.train_model_iterative_cluster(
    re.utility_matrix, rs_model1)

CPU times: user 3min 5s, sys: 3.97 s, total: 3min 9s
Wall time: 3min 11s

#### Prediction

In [16]:
utility_matrix_imputed

i_cluster,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
u_cluster,,,,,,,,,,,,,,,,,,,,
0,-0.013074,0.047755,-0.000197,-0.063121,0.008185,-0.010274,0.026295,0.033640,-0.037737,0.007110,-0.015180,0.017409,-0.062834,0.006098,0.019071,0.013096,0.049219,0.018724,-0.017654,-0.034735
1,-0.058130,-0.031214,-0.048271,-0.018687,0.055575,-0.048460,0.041292,0.041684,0.104034,0.033784,-0.012668,0.040620,0.092205,-0.045471,-0.061710,0.031975,-0.081858,-0.031116,-0.006979,0.011517
2,0.015007,0.029299,0.036348,-0.011963,0.047749,-0.107504,-0.051081,0.065343,-0.030539,0.062338,-0.052328,-0.018536,0.011183,-0.036614,0.004370,0.005215,-0.050679,0.023354,0.037037,0.015773
3,0.000010,0.013241,0.003283,-0.001857,-0.024702,-0.009766,-0.003744,0.003335,-0.001498,0.004976,0.028562,0.003296,-0.003330,-0.002897,0.038695,-0.020114,0.001203,-0.017379,0.003992,-0.010168
4,-0.029450,-0.021991,-0.009648,0.007248,-0.013089,0.052217,0.040277,-0.001234,0.010220,0.036666,0.006853,-0.013776,-0.017351,0.010696,-0.018043,-0.004046,-0.000745,-0.032726,-0.002449,-0.003915
5,-0.006030,0.012043,0.035477,-0.000600,-0.015259,0.072615,-0.009786,0.000763,-0.010416,-0.060482,-0.003040,-0.010555,0.012108,-0.018093,-0.005646,0.027322,-0.000689,-0.035961,0.002342,0.014981
6,-0.041004,-0.005529,-0.039716,-0.009789,-0.020175,-0.009020,0.062339,0.035669,-0.003145,-0.038011,0.000964,0.021474,0.032381,-0.016570,-0.003988,0.025014,-0.027033,0.027106,-0.053888,0.050350
7,-0.028728,-0.051517,-0.040756,0.037892,0.015321,0.099532,0.041812,-0.021972,-0.008818,-0.023684,0.049692,-0.013322,0.007654,0.026616,-0.051286,-0.005679,-0.010948,-0.011068,0.020483,-0.027615
8,0.096060,0.012174,-0.070912,-0.014624,0.027912,0.004316,0.057797,-0.039464,-0.016927,0.002212,-0.037594,0.015372,-0.091025,-0.065691,-0.016311,0.029176,0.070333,0.022332,0.043183,-0.030567
9,0.140798,-0.004173,-0.069121,-0.057765,0.081195,-0.041453,0.072236,0.061352,0.014553,-0.030646,-0.067015,-0.012377,-0.006969,-0.020119,0.001923,-0.038655,-0.005164,-0.019670,0.020513,-0.011848
10,-0.007641,-0.016511,-0.012606,0.009638,0.005182,0.065722,-0.021529,-0.001652,-0.030049,-0.027516,-0.003944,0.063499,-0.003037,0.012100,-0.022616,-0.039001,0.001398,0.011296,0.008595,0.005089
11,-0.031001,-0.004025,0.032307,0.042264,-0.058010,0.016836,-0.003880,0.017117,-0.044848,-0.002111,0.022248,0.010781,-0.012281,0.056295,-0.056020,-0.039691,-0.040097,-0.006571,-0.001371,0.101026
12,-0.022565,-0.091101,-0.016096,0.033429,0.108926,0.012706,-0.005733,0.006691,0.036851,0.011945,0.000682,0.023869,-0.051761,0.035361,-0.038610,0.036249,0.003337,-0.066936,0.003525,-0.016445
13,-0.035750,-0.028626,0.020207,-0.008803,0.040639,-0.044444,-0.037713,0.019071,-0.003445,0.013307,-0.018549,0.075221,0.028355,0.001388,0.008578,-0.009635,-0.024450,0.029906,-0.022321,-0.012574
14,0.063322,0.003564,-0.055335,0.048986,0.013734,-0.102421,0.035592,0.004343,-0.023325,0.036735,0.022968,0.017814,0.008518,0.028480,-0.032441,0.014757,-0.007168,0.013388,-0.040456,-0.056510

## Train iterative model using `fit`

#### Train model

In [17]:
re.fit(rs_model1, method='iterative')

#### Prediction

In [18]:
re.utility_matrix_preds

i_cluster,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
u_cluster,,,,,,,,,,,,,,,,,,,,
0,-0.018426,0.061254,-0.002642,-0.060105,0.010529,-0.013969,0.033600,0.035783,-0.046562,0.009240,-0.017462,0.017931,-0.079537,0.003223,0.009507,0.017353,0.063274,0.023974,-0.020202,-0.043787
1,-0.050972,-0.033474,-0.042363,-0.022855,0.051226,-0.050492,0.047107,0.025500,0.110782,0.028790,-0.016350,0.043333,0.070625,-0.060078,-0.055429,0.044063,-0.071287,-0.033504,-0.002171,0.012005
2,0.013615,0.019485,0.048835,-0.011018,0.053750,-0.143618,-0.069655,0.082797,-0.031042,0.084594,-0.065451,-0.002496,0.013615,-0.037577,0.005439,0.006994,-0.054074,0.030709,0.047933,0.023005
3,0.005788,0.018396,0.004538,-0.001211,-0.033709,-0.018958,-0.009802,0.003571,-0.004734,0.006976,0.030922,0.002760,0.000014,-0.003730,0.041779,-0.018234,0.002266,-0.019550,0.005960,-0.017889
4,-0.035198,-0.022608,-0.013008,0.008872,-0.001220,0.060041,0.047152,-0.004139,0.014455,0.046380,0.007308,-0.026857,-0.008640,0.011006,-0.019463,-0.004565,-0.002115,-0.040417,-0.001059,-0.004719
5,-0.005833,0.016704,0.044809,-0.000405,-0.021220,0.083547,-0.008647,0.002080,-0.011580,-0.086019,-0.003845,-0.016001,0.012235,-0.018030,-0.005361,0.038955,-0.001931,-0.044098,0.002413,0.017398
6,-0.051695,-0.004888,-0.046497,-0.009132,-0.020055,-0.015241,0.061003,0.041751,-0.000707,-0.036782,-0.003561,0.023850,0.047051,-0.018608,-0.007190,0.035594,-0.029859,0.025317,-0.070200,0.063316
7,-0.047664,-0.065080,-0.051521,0.040365,0.014529,0.127163,0.045979,-0.023769,-0.012872,-0.027041,0.052063,-0.026296,0.008801,0.031743,-0.032082,-0.006570,-0.014511,-0.009527,0.025685,-0.024570
8,0.111896,0.011342,-0.091279,-0.012836,0.029459,0.006170,0.071579,-0.020670,-0.022637,0.001164,-0.049102,0.018687,-0.109136,-0.068049,-0.014000,0.023109,0.090175,0.034362,0.049871,-0.037053
9,0.176496,-0.005104,-0.073401,-0.075356,0.098041,-0.054545,0.079797,0.080376,0.019013,-0.049254,-0.078883,-0.001336,-0.014304,-0.019342,0.005138,-0.053942,-0.008039,-0.026543,0.022803,-0.015019
10,-0.010041,-0.021706,-0.017707,0.007757,0.008928,0.086590,-0.014106,-0.002390,-0.038360,-0.028682,0.002833,0.068600,-0.003895,0.010984,-0.026520,-0.038152,0.004359,0.012583,0.010876,0.010055
11,-0.037455,0.000791,0.050554,0.041768,-0.065370,0.027133,-0.007609,0.016869,-0.065128,-0.002961,0.025732,0.013602,-0.016942,0.070871,-0.055078,-0.052707,-0.053986,-0.005403,0.001843,0.128580
12,-0.023977,-0.103216,-0.011191,0.047953,0.077703,0.014347,-0.013643,0.009785,0.039516,0.018732,0.001993,0.030665,-0.062855,0.036928,-0.039825,0.033997,0.007735,-0.066314,0.008713,-0.016445
13,-0.044732,-0.035222,0.030143,-0.007559,0.052885,-0.051852,-0.047902,0.019577,-0.002328,0.015258,-0.019989,0.080013,0.037784,0.001318,0.016583,-0.013095,-0.029166,0.038224,-0.025409,-0.007620
14,0.031322,0.005044,-0.067250,0.058025,0.014931,-0.089694,0.036068,0.003338,-0.027150,0.047733,0.031612,0.020165,0.015838,0.035775,-0.027460,0.018155,-0.008449,0.018829,-0.052029,-0.074787