# Content based pipe

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import pickle
import joblib
import sys
import jdc

from sklearn.ensemble import RandomForestRegressor

%load_ext autoreload
%autoreload 2

Matplotlib created a temporary config/cache directory at /tmp/matplotlib-eucy3kvw because the default path (/home/pjavier/.cache/matplotlib) is not a writable directory; it is highly recommended to set the MPLCONFIGDIR environment variable to a writable directory, in particular to speed up the import of Matplotlib and to better support multiprocessing.

In [4]:
from resype.content_based import ContentBasedModel

In [ ]:
from resype.preprocessing import *

In [5]:
# import nltk
# nltk.download('stopwords')
# nltk.download('punkt')

In [6]:
transaction_list, user_df = create_user_feature() # for example only
item_df = create_item_feature(num_features = 300)

In [7]:
transaction_list.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [8]:
# user ids and features
user_df.head()

,userId,u_1,u_2,u_3,u_4,u_5,u_6,u_7,u_8,u_9,...,u_11,u_12,u_13,u_14,u_15,u_16,u_17,u_18,u_19,u_20
0,1,85,29,42,83,47,26,90,45,55,...,17,68,22,7,40,22,1,0,0,0
1,2,3,0,0,7,0,1,11,10,10,...,1,17,1,1,4,0,0,4,3,0
2,3,11,4,5,9,4,5,14,2,7,...,8,16,5,0,15,1,0,0,0,0
3,4,29,6,10,104,19,58,25,27,38,...,4,120,7,10,12,16,4,1,2,0
4,5,8,6,9,15,7,11,9,12,9,...,1,25,3,2,2,5,0,3,0,0

In [9]:
# item ids and features
item_df.head()

,movieId,i_1,i_2,i_3,i_4,i_5,i_6,i_7,i_8,i_9,...,i_291,i_292,i_293,i_294,i_295,i_296,i_297,i_298,i_299,i_300
0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.513025,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,47,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,50,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
cb = ContentBasedModel(user_df, item_df, transaction_list)

In [15]:
cb.df # user-movie

,userId,movieId,rating,timestamp,u_1,u_2,u_3,u_4,u_5,u_6,...,i_291,i_292,i_293,i_294,i_295,i_296,i_297,i_298,i_299,i_300
0,1,1,4.0,964982703,85,29,42,83,47,26,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
1,1,3,4.0,964981247,85,29,42,83,47,26,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
2,1,6,4.0,964982224,85,29,42,83,47,26,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
3,1,47,5.0,964983815,85,29,42,83,47,26,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
4,1,50,5.0,964982931,85,29,42,83,47,26,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100831,610,166534,4.0,1493848402,267,66,56,411,151,119,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
100832,610,168248,5.0,1493850091,267,66,56,411,151,119,...,0.0,0.0,0.000000,0.0,0.0,0.245020,0.0,0.0,0.0,0.000000
100833,610,168250,5.0,1494273047,267,66,56,411,151,119,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000
100834,610,168252,5.0,1493846352,267,66,56,411,151,119,...,0.0,0.0,0.000000,0.0,0.0,0.291784,0.0,0.0,0.0,0.282198
100835,610,170875,3.0,1493846415,267,66,56,411,151,119,...,0.0,0.0,0.365896,0.0,0.0,0.313337,0.0,0.0,0.0,0.000000

## Fit model

In [ ]:
#Declare your model
rs_model1 = RandomForestRegressor(random_state=202109, n_jobs=-1)

#Do your train and test split
df_train, df_test, df_test_um, indx_train, indx_test = split_train_test(df, 0.7) #To split the data

# df_train = df_train.sample(100)

#Fit your model to the train data
model_fit = fit_ml_cb(df_train, rs_model1) #To fit the model

#Predict on the test data
preds_array = reco_ml_cb_tt(df_test, model_fit) #To make predictions as an array

In [ ]:
preds_array

## Predict

In [ ]:
def get_rec(utility_matrix_preds, utility_matrix, user_list, top_n, uc_assignment=None):
    
    """Returns the top N item cluster recommendations for each user in the user list
    
            Parameters:
                    utility_matrix (numpy.ndarray): Matrix of utilities for each user-item pairing
                    utility_matrix_o (numpy.ndarray): Original utility matrix, before imputation
                    user_list (array-like): List of users
                    uc_assignment (array-like): List containing the cluster assignment of each user
                    top_n (int): Number of item clusters to recommend

            Returns:
                    df_rec (pandas.DataFrame): Table containing the top N item cluster recommendations for each user in the user list
                    
    """
    
    # Class stuff
    utility_matrix_o = utility_matrix.fillna(0).values
    utility_matrix = utility_matrix_preds.values
    
    # Don't recommend items that are already rated
    utility_matrix[np.where(utility_matrix_o != 0)] = -np.inf
    
    # Get top N per user cluster
    cluster_rec = utility_matrix.argsort()[:, -top_n:]

    # Create recommendation table
    df_rec = pd.DataFrame()
    df_rec['user_id'] = user_list
                
    for i in range(top_n):
        df_rec['rank_'+str(i+1)] = np.zeros(df_rec.shape[0])
        for j in range(df_rec.shape[0]):
            if uc_assignment is None:
                df_rec.iloc[j, i+1] = cluster_rec[user_list[j], top_n-i-1]
            else:
                df_rec.iloc[j, i+1] = cluster_rec[uc_assignment.iloc[user_list[j], 0], top_n-i-1]
    
    # look-up tables
    if uc_assignment is None:
        user_id_lookup = utility_matrix_preds.index
        item_id_lookup = utility_matrix_preds.columns
        for j in range(df_rec.shape[0]):
            df_rec.iloc[j, 0] = user_id_lookup[df_rec.iloc[j, 0].astype('int32')]
            for i in range(top_n):
                df_rec.iloc[j, i+1] = item_id_lookup[df_rec.iloc[j, i+1].astype('int32')]
    
    return df_rec

In [ ]:
from resype.resype import Resype

In [ ]:
user_ = user_df.drop(['userId'], axis=1)

In [ ]:
user_ = user_.sample(10)

In [ ]:
item_ = item_df.drop(['movieId'], axis=1)

In [ ]:
reco_mtx = reco_ml_cb(user_, item_, item_ids, model_fit)
reco_mtx

In [ ]:
reco_inds = np.array(reco_mtx.index)
reco_inds

In [ ]:
um = _.drop('timestamp', axis=1)
um.columns = ['user_id', 'item_id', 'rating']

rs = Resype(um)
original_um = rs.construct_utility_matrix()
original_um = original_um.loc[reco_inds[:], :]
original_um = original_um[reco_mtx.columns]

In [ ]:
reco_mtx.shape, original_um.shape

In [ ]:
original_um = original_um.fillna(0)
original_um

In [ ]:
reco_mtx = reco_mtx.fillna(0)
reco_mtx

## Get recommendations

In [ ]:

get_rec(reco_mtx, original_um, user_list = [0, 2], top_n = 3)

## Evaluate

In [ ]:
evaluate_arrays(preds_array, df, indx_test) #MSE and MAE

## Cross Validation

In [ ]:
df

In [ ]:
mse, mae = cross_val(df, 5, rs_model1, split_method='random')

In [ ]:
mse, mae